@jetBrains: 'JetBrains Mono', Arial, san-serif;
@gray: #111113;
@dark-gray: #0B0B0E;

* {
    box-sizing: border-box;
}

body {
    font-family: @jetBrains;
    font-style: normal;
    font-weight: normal;
    color: white;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none !important;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 160px;

    &__container {
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;

    }


    &__items {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 40px;
        font-weight: normal;
        font-size: 25px;
        line-height: 31px;
        color: white;
    }

    &__logo {
        margin-right: 90px;
    }
}

.menu-button {
    display: none;
    position: fixed;
    right: 35px;
    top: 35px;
    width: 45px;
    height: 45px;
    background: url(../img/menu-button.svg);
}

@media (max-width: 1200px) {
    .menu {
        padding: 0 90px;

        &__container {
            
        }

        &__logo {
            margin-right: 50px;
        }

        &__items {
            min-width: 525px;
            width: 100%;
            justify-content: space-between;
        }

        &__item {
            margin-right: 15px;
            font-size: 22px;
        }
    }


}

@media (max-width: 760px) {
    .menu {
        display: none;
    }

    .menu-button {
        display: block;
    }
}



.hack {
    height: 100vh;
    background: url(../img/hack-background.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-hack {
    // color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1060px;

    &__title {
        font-weight: bold;
        font-size: 55px;
        line-height: 67px;
        margin-bottom: 30px;
        text-align: center;
    }

    &__description {
        font-weight: normal;
        font-size: 25px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 100px;
    }

    &__button-container {
        display: flex;
        justify-content: center;
    }
}

.hack-input {
    width: 600px;
    min-width: 300px;
    height: 80px;
    border-radius: 10px;
    padding: 25px 0px 25px 35px;
    margin-right: 40px;
    border: none;

    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #828282;

    transition: all .2s;
}

.hack-button {
    width: 230px;
    height: 80px;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    border: none;
    border-radius: 10px;

    transition: all .2s;
    text-align: left;
    padding-left: 30px;
}

.hack-button p {
    font-family: @jetBrains;
    font-weight: bold;
    font-size: 25px;
    line-height: 79px;
    color: #FFFFFF;
}

.hack-button.hack-button-cpu-icon p::after {
    content: ' ';
    display: inline-block;
    position: relative;
    left: 20px;
    top: 6px;
    width: 30px;
    height: 30px;
    background: url(../img/cpu.svg) no-repeat;
}

.hack-button:hover,
.hack-input:hover {
    transform: scale(1.05);
    transition: all .2s;
}

@media (max-width: 1200px) {
    .hack {
        padding: 0 90px;
    }


    .start-hack {
        &__title {
            font-size: 50px;
            line-height: 61px;
            margin-bottom: 30px;
        }

        &__description {
            font-size: 20px;
            line-height: 30px;
        }

        &__button-container {
            width: 100%;
        }
    }

    .hack-input {
        width: 100%;
    }

    .hack-button {
        flex-shrink: 0;
    }
}


@media (max-width: 600px) {
    .hack {
        padding: 0 40px;
        background-position: 38% 100%;
    }

    .start-hack {
        &__title {
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 15px;
            text-align: left;
        }

        &__description {
            font-size: 14px;
            line-height: 21px;
            text-align: left;
            margin-bottom: 50px;
        }

        &__button-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    .hack-input {
        width: 100%;
        height: 55px;
        border-radius: 10px;
        padding: 16px 0;
        margin-right: 0px;
        margin-bottom: 20px;
        text-align: center;

        font-size: 18px;
        line-height: 22px;
    }

    .hack-button {
        width: 100%;
        height: 55px;

        text-align: left;
        padding: 0;
    }

    .hack-button p {
        font-size: 18px;
        line-height: 36px;
        text-align: center;
    }

    .hack-button p::after {
        left: 15px;
        top: 6px;
        width: 25px;
        height: 25px;
        background-size: contain;
    }
}





.hack-started {
    // display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1055px;
    height: 720px;
    background: @gray;
    border-radius: 20px;
    padding: 80px 75px 50px;
    margin-top: 45px;
}

.target-information {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 60px;
        align-items: center;
    }

    &__id {
        width: 100%;
        height: 80px;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 0 35px;
        margin-bottom: 40px;
    }

    &__description {
        font-family: @jetBrains;
        font-size: 18px;
        line-height: 27px;
        color: #cfcfd0;
        opacity: 0.8;
    }

    &__avatar {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        // background-image: url(../img/avatar-stub.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        flex-shrink: 0;
    }
}

.target-information__id p {
    font-size: 25px;
    line-height: 79px;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.hacking-in-progress {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.step {
    width: 412px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 25px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 18px;
        color: #5D5D60;
    }

    &__container {
        width: 100%;
        height: 233px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: @dark-gray;
        border-radius: 20px;
        padding: 40px 36px 45px;
    }

    &__name {
        font-size: 25px;
        line-height: 38px;
        text-align: center;
    }
}

.progressbar {
    width: 100%;
    height: 20px;
    background-color: #fff;
    border-radius: 20px;

    &__progress {
        width: 0%;
        height: 100%;
        background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
        border-radius: 20px;
    }
}


.potential-passcodes {
    display: none;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mob-hack-started {
    display: none;
}

@media (max-width: 600px) {
    .mob-hack-started {
        // display: none;
        // display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 584px;
        padding: 27px 27px 30px;
        background-color: @gray;
        border-radius: 20px;
    }

    .target-information__avatar {
        width: 242px;
        height: 242px;
        margin-bottom: 30px;
    }

    .mob-information__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .target-information__id {
        width: 100%;
        height: 55px;
        padding: 16px 0;
        margin-bottom: 30px;
    }

    .target-information__id p {
        font-size: 20px;
        line-height: 24px;
    }

    .target-information__description {
        font-size: 20px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 40px;
    }

    .step {
        display: none;
        width: 100%;
        height: 180px;
        margin-top: 30px;
        padding: 0;

        &__title {
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 12px;
        }

        &__container {
            height: 140px;
            padding: 20px 16px;
        }

        &__name {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .hidden {}

    .potential-passcodes {
        font-size: 20px;
        line-height: 30px;
    }

    .progressbar {
        height: 15px;

        &__progress {}
    }
}

#mobile-step1,
#mobile-step2 {
    color: #ffffff;
}